html {
  height: 100%;
}

h1{
  font-size: 3.5em;
  font-family: "Lucida Sans Unicode";
}

#green{
  color: #075921;
}

body{
  background-color: #292c33;
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  vertical-align: middle
}

#temp {
  cursor: pointer;
  font-weight: bold;
}

#temp:hover{
  color: #075921;
}


.info{
  font-size: 1.3em;
  font-family: "Lucida Sans Unicode";
}
