body {
  background:
    linear-gradient(
      rgba(76, 76, 52, 0.3), 
      rgba(76, 76, 52, 0.3)
    ),
  url("https://source.unsplash.com/MtgaY5rKvWs/3704 × 1927");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: 'Roboto', sans-serif;  
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.container {
    border-radius: 50%;
    width: 400px;
    height: 400px; 
    background-color: rgba(13, 13, 13, 0.6);
}

.simon-button {
  height: 90px;
  width: 90px;
  cursor: pointer;
  border-radius: 8px;
  margin: 10px;
  background:
    linear-gradient(
      rgba(76, 76, 52, 0.2), 
      rgba(76, 76, 52, 0.1)
    );
}

.simon-control-button {
  width: 80px;
  margin: 5px;
}

#RED {
  background-color: red;
}

#BLUE {
  background-color: blue;
}

#ORANGE {
  background-color: orange;
}

#GREEN {
  background-color: green;
}

#RED:active {
  background-color: darkred;
}

#BLUE:active {
  background-color: darkblue;
}

#GREEN:active {
  background-color: darkgreen;
}

#ORANGE:active {
  background-color: darkorange;
}

.simon-control-button {
  cursor: pointer;
}

#strict {
  text-decoration: none;
  color: #4286f4;
  font-weight: bold;
  cursor: pointer;
}

#author {
  margin-top: 100px;
  font-size: 20px;
  color: #e6e6e6;
}
