.simon-button {
  height: 48px;
  width: 48px;
  cursor: pointer;
  border-radius: 2px;
}

#RED {
  background-color: red;
}

#BLUE {
  background-color: blue;
}

#YELLOW {
  background-color: goldenrod;
}

#GREEN {
  background-color: green;
}

#RED:active {
  background-color: darkred;
}

#BLUE:active {
  background-color: darkblue;
}

#GREEN:active {
  background-color: darkgreen;
}

#YELLOW:active {
  background-color:yellow;
}

.simon-control-button {
  cursor: pointer;
}
