.simon-button {
  height: 48px;
  width: 48px;
  cursor: pointer;
  border-radius: 2px;
}

#RED {
  background-color: red;
}

#BLUE {
  background-color: blue;
}

#YELLOW {
  background-color: goldenrod;
}

#GREEN {
  background-color: green;
}

.simon-control-button {
  cursor: pointer;
}
